.app{
    height: 100vh;
    width: 100vw;
    background-color: rgb(215, 210, 237);
  
}
.app__container {
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 116, 159);
    border-radius: 12px;
    padding: 32px 0;

}

.app__todoContainer{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__headline{
    margin-bottom: 2rem;
    color: white;

}